*.pyc
.venv/
*.retry
.vagrant/
.idea
.vault_pass.txt
.cache/
__pycache__
.py3venv
.styleenv
.tox
*.egg-info
dist/
*.iml
*.swp

.compile
files/*.tar.gz

build/workspace
.workspace
htmlcov/
.coverage
build/
.make.stamp
.make.stamp.tmp
coverage.xml
libs.tgz

management-service.tgz
deploy/appliance_artifacts/

repoCache/

screenshots/
licenseDepResults/
diagnose_logs/
