*.tar.xz
*.tar.gz
dep-*
*.pyc
.venv/
*.retry
.vagrant/
.idea
.vault_pass.txt
.cache/
__pycache__
.py3venv
.styleenv
.tox
*.egg-info
dist/
*.iml
*.swp
.DS_Store
.compile
glide.lock
files/*.tar.gz
.pytest_cache
.vscode

.workspace
.bin
*.tfstate
gcp-service-account.yml
gcp-service-account.json
*-intel.yml
*.info

htmlcov/
.coverage
.make.stamp
.make.stamp.tmp
coverage.xml
libs.tgz

management-service.tgz
deploy/appliance_artifacts/

repoCache/

screenshots/
licenseDepResults/
diagnose_logs/
