external_ip: {{ k8s.gateway_ip.value }}
instance_kubernetes_external_ip: {{ k8s.gateway_ip.value }}
nauta_configuration:
  input_nfs:
    path: /export/input
    server: 10.137.0.2
  output_nfs:
    path: /export/output
    server: 10.137.0.2
