apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ dlsenterprise_admin_crt.stdout }}"
    server: "https://{{ kubernetes_api_address | default(dls_configuration.external_interface.ipv4_address) }}:{{ kubernetes_network.external_ports[0] }}"
  name: dls4e-platform
kind: Config
preferences: {}
users:
- name: dls4e-platform
  user:
    token: "{{ dlsenterprise_admin_token.stdout | b64decode }}"
contexts:
- context:
    cluster: dls4e-platform
    namespace: "{{ dlsenterprise_admin_namespace.stdout | b64decode }}"
    user: dls4e-platform
  name: dls4e-platform
current-context: dls4e-platform
