apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ nauta_admin_crt.stdout }}"
    server: "https://{{ kubernetes_api_address | default(nauta_configuration.external_interface.ipv4_address) }}:{{ kubernetes_network.external_ports[0] }}"
  name: nauta-platform
kind: Config
preferences: {}
users:
- name: nauta-platform
  user:
    token: "{{ nauta_admin_token.stdout | b64decode }}"
contexts:
- context:
    cluster: nauta-platform
    namespace: "{{ nauta_admin_namespace.stdout | b64decode }}"
    user: nauta-platform
  name: nauta-platform
current-context: nauta-platform
