{
  "service": {
    "name": "kubernetes",
    "tags": ["apiservice"],
    "port": {{ kubernetes_network.internal_port }},
    "checks": [
      {
        "http": "https://{{ nauta_configuration.internal_interface.ipv4_address }}:{{ kubernetes_network.internal_port }}/healthz",
        "interval": "1s",
        "timeout": "1s",
        "tls_skip_verify": true
      }
    ]
  }
}
