{% for host in groups['master'] %}
nameserver {{ hostvars[host].nauta_configuration.internal_interface.ipv4_address }}
{% endfor %}
{% if global_dns_search_domains | length > 0 %}
search {{ global_dns_search_domains | join(' ') }}
{% endif %}
