Summary: {{ spec.summary }}
Name: {{ name }}
Version: {{ spec.version }}
Release: {{ spec.release }}
License: Apache2.0

BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root

AutoReqProv: no

%define  debug_package %{nil}
%define _unpackaged_files_terminate_build 0

{% if 'requires' in spec %}
Requires: {{ spec.requires | join(' , ') }}
{% endif %}

%description
{% if 'description' in spec.sections %}
{{ spec.sections.description }}
{% else %}
%{summary}
{% endif %}

{% for type in ['prep', 'build', 'install'] %}
%{{ type }}
{% if type in spec.sections %}
{{ spec.sections[type] }}
{% else %}
#empty
{% endif %}

{% endfor %}

%clean
{% if 'clean' in spec.sections %}
{{ spec.sections.clean }}
{% else %}
rm -rf %{buildroot}
{% endif %}

%files
%defattr({{ spec.files_mode | default('-') }},{{ spec.files_owner | default('root') }},{{ spec.files_group | default('root') }},-)
{% for file in spec.files | default([]) %}
{{ file }}
{% endfor %}
