apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/nauta-cluster/client/kubernetes/ca.pem
    server: https://{{ kubernetes_network.svc_list.apiservice.consul_name }}:{{ kubernetes_network.internal_port }}/
  name: bootstrap
contexts:
- context:
    cluster: bootstrap
    user: kubelet-bootstrap
  name: bootstrap
current-context: bootstrap
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    client-certificate: /etc/nauta-cluster/client/kubernetes/node.crt
    client-key: /etc/nauta-cluster/client/kubernetes/node.key
