apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ nauta_admin_crt.stdout }}"
    server: "{{ kubectl_current_server }}"
  name: nauta-admin
kind: Config
preferences: {}
users:
- name: nauta-admin
  user:
    token: "{{ nauta_admin_token.stdout | b64decode }}"
contexts:
- context:
    cluster: nauta-admin
    namespace: "{{ nauta_admin_namespace.stdout | b64decode }}"
    user: nauta-admin
  name: nauta-admin
current-context: nauta-admin
