# PyCharm
.idea

# Python things
.venv
*.pyc
__pycache__
.pytest_cache

# PyInstaller artifacts
build
dist
main.spec
*.spec

# draft artifacts
example-python/charts
example-python/draft.toml
example-python/Dockerfile
example-python/.draftignore
draft.toml
.draftignore
dlsctl-*.tar.gz
dlsctl-*.zip

vendor/