[Unit]
Description=Kubernetes apiservice check
After=kubernetes-apiserver.service
Requires=kubernetes-apiserver.service

[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/nauta/kubernetes/check.sh http://{{ nauta_configuration.internal_interface.ipv4_address }}:{{ kubernetes_network.internal_port }}/healthz

[Install]
WantedBy=multi-user.target
