apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s.k8s_cluster_ca_certificate.value }}
    server: {{ k8s.k8s_cluster_endpoint.value }}
  name: dls4e
contexts:
- context:
    cluster: dls4e
    namespace: kube-system
    user: dls4e
  name: dls4e
current-context: dls4e
kind: Config
preferences: {}
users:
- name: dls4e
  user:
    client-certificate-data: {{ k8s.k8s_client_certificate.value }}
    client-key-data: {{ k8s.k8s_client_key.value }}
