apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s.k8s_cluster_ca_certificate.value }}
    server: {{ k8s.k8s_cluster_endpoint.value }}
  name: nauta
contexts:
- context:
    cluster: nauta
    namespace: kube-system
    user: nauta
  name: nauta
current-context: nauta
kind: Config
preferences: {}
users:
- name: nauta
  user:
    password: {{ k8s.k8s_password.value }}
    username: {{ k8s.k8s_username.value }}
