# Please don't add tensorflow here since it's being installed by the Docker
setuptools
numpy==1.16.4
h5py
keras
horovod
cython
pycodestyle==2.3.1
scipy==1.2.2
psutil
nibabel
tqdm
kubernetes==6.0.0
numpy==1.16.4
