apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ dlsenterprise_admin_crt.stdout }}"
    server: "{{ kubectl_current_server }}"
  name: dls4e-admin
kind: Config
preferences: {}
users:
- name: dls4e-admin
  user:
    token: "{{ dlsenterprise_admin_token.stdout | b64decode }}"
contexts:
- context:
    cluster: dls4e-admin
    namespace: "{{ dlsenterprise_admin_namespace.stdout | b64decode }}"
    user: dls4e-admin
  name: dls4e-admin
current-context: dls4e-admin
