Summary: NAUTA Yum Repository {{ VERSION_MAJOR }}.{{ VERSION_MINOR }}.{{ VERSION_NO }}.{{ VERSION_SUFFIX }}-{{ VERSION_ID }} package
Name: nauta-yum-repository
Version: {{ VERSION_MAJOR }}.{{ VERSION_MINOR }}.{{ VERSION_NO }}.{{ VERSION_SUFFIX }}
Release: {{ VERSION_ID }}
License: Apache-2.0
SOURCE0: artifacts.tar.gz
Group: Tools
AutoReqProv: no

%define  debug_package %{nil}

Requires: nauta-commons

%description
%{summary}

%prep
%setup -q -n artifacts

%build
# Empty section.

%install
rm -rf %{buildroot}
mkdir -p  %{buildroot}

mkdir -p %{buildroot}/opt/nauta/repository
cp -ar ./* %{buildroot}/opt/nauta/repository/

exit 0
%clean
rm -rf %{buildroot}

%files
%defattr(0755,root,root,-)
/opt/nauta/repository/*
