{% for item in groups['master'] %}
Host facts-{{ item }}
  Hostname {{ hostvars[item].nauta_configuration.internal_interface.ipv4_address }}
  User cluster-facts
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_rsa
  StrictHostKeyChecking no
  GlobalKnownHostsFile=/dev/null
  UserKnownHostsFile=/dev/null
{% endfor %}
